* {
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
}
a:link {
  color: #6a6f82;
  text-decoration: none;
}
a:hover {
  color: #f9faff;
  transition: 0.5s;
}
html {
  font-size: 20px !important;
  line-height: 32px !important;
  letter-spacing: -0.1px !important;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  background: url(images/illustration-section-01.svg) no-repeat 50% 50%;
  background-size: cover;
  background-color: #16171b;
  color: #f9faff;
  width: 99%;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 770px) {
  body {
    width: 98% !important;
  }
}

header {
  width: 100%;
}

.content {
  width: 94%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.mainc {
  padding-top: 15%;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 80%;
  margin-left: 10%;
  line-height: 60px;
  z-index: 1000;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: transparent;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background-color: #3a3b42;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #3a3b42;
  text-align: right;
  box-sizing: border-box;
  padding: 1px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #3a3b42;
  }

  nav.black ul {
    background-color: #3a3b42;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
@media screen and (max-width: 550) {
  .content {
    width: 93%;
  }
  #ppolje p,
  #dpolje p,
  #tpolje p,
  #cpolje p,
  #pppolje p,
  #spolje p {
    width: 100% !important;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
}
#svesekc {
  padding-left: 15%;
  padding-right: 5%;
  max-width: 90%;
}
#ps {
  position: relative;
  padding-bottom: 5%;
  width: 100%;
  border-bottom: 2px solid #26272e;
}

#nj {
  margin-bottom: 5%;
}
#njh {
  width: 40%;
  color: #959cb1;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: -0.1px;
}

#nj h1 {
  width: 448px;
  font-size: 45px;
  line-height: 32px;
  letter-spacing: -0.1px;
}
@media (max-width: 600px) {
  #nj h1 {
    width: 99% !important;
    align-self: center;
    text-align: center;
    line-height: 50px;
  }
  #njh {
    width: 99% !important;
    margin: auto;
  }
  #njh p {
    margin: auto;
    color: #959cb1;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100% !important;
  }
  #njb {
    width: auto;
  }
  #ps button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
#gtsbtn {
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 31px;
  margin-top: 5%;
  height: 48px;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #f9faff;
  background-color: #376df9;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  #njh {
    width: 100% !important;
  }
  #njh p {
    width: 90% !important;
  }
  #svicitati {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 15%;
  }
}

#njb {
  width: auto;
}

#ds {
  border-bottom: 2px solid #26272e;
}
#ikone {
  padding-top: 26px;
  padding-bottom: 26px;
}
#ikone:before,
#ikone:after {
  display: table;
  content: "";
}

#ikone:after {
  clear: both;
}

#ikone ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
}
#ikonelista {
  list-style-type: none;
}

#ikonelista li {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 4%;
  width: 10%;
  align-self: auto;
  align-items: center;
  align-content: auto;
}

#ikonelista li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  #ikonelista li {
    width: auto;
    padding: 1% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin: 5%;
  }
  #ds,
  #ikone ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: inherit;
  }
  #ds {
    padding: 0% !important;
  }
}

@media screen and (max-width: 600px) {
  #ikone {
    height: auto;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
  }
}

#ts {
  padding-bottom: 7%;
  border-bottom: 2px solid #26272e;
}

#videocont {
  margin-top: 5%;
  height: auto;
  align-items: center;
}

#nd {
  padding-top: 20px;
  text-align: center;
  font-size: 27px;
}

#opisvidea {
  font-family: "Heebo", sans-serif;
  color: #959cb1;
  text-align: center;
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
  margin-bottom: 4%;
  font-weight: 200;
  font-size: 20px;
  line-height: 32px;
}
@media screen and (max-width: 900px) {
  #opisvidea {
    width: 90%;
    margin-left: 5%;
  }
  #nt p {
    width: 85% !important;
    margin-left: 8% !important;
  }
  #naslovcontent p {
    width: 92% !important;
    margin-left: 4% !important;
  }
}
video {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  #nd h2 {
    text-align: center;
    height: auto;
  }
  #zavideo video {
    margin: auto;
    width: 320px !important;
    height: 208px !important;
  }
  #opisvidea {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 0% !important;
  }
}

@media screen and (max-width: 800px) {
  #njh {
    width: 70% !important;
  }
}

#nt {
  margin-top: 7%;
  text-align: center;
  font-size: 27px;
}

#nt p {
  color: #959cb1;
  text-align: center;
  width: 55%;
  margin-top: 3%;
  margin-left: 23%;
  margin-bottom: 4%;
  font-weight: 200;
  font-size: 20px;
  line-height: 32px;
}

@media screen and (max-width: 600px) {
  #nt p {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  #nt h2 {
    line-height: 50px;
  }
}
#cssve {
  width: 100%;
}
#poljacon {
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;

  margin-top: -12px;
}
@media screen and (max-width: 800px) {
  #poljacon {
    display: grid;
    grid-template-columns: none !important;
    width: 100% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
  }
  #ppolje p,
  #dpolje p,
  #tpolje p,
  #cpolje p,
  #pppolje p,
  #spolje p {
    width: 75% !important;
    text-align: center;
    margin-left: 13% !important;
  }
}

#ppolje,
#dpolje,
#tpolje,
#cpolje,
#pppolje,
#spolje {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  text-align: center;
}

#ppolje p,
#dpolje p,
#tpolje p,
#cpolje p,
#pppolje p,
#spolje p {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#slika {
  margin-top: 10%;
  display: inline-flex;
  border-radius: 50%;
  background: radial-gradient(
    circle at bottom,
    #376df9 0%,
    #ff79af 50%,
    #ff8d74 100%
  );
}

#kont h4 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.1px;
  font-weight: 600;
  clear: both;
  color: #f9faff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#parap {
  width: auto;
}
#parap p {
  color: #959cb1;
  margin-top: 2%;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-weight: 200;
}
#pps {
  margin-top: 5%;
  border-bottom: 2px solid #26272e;
}
#naslovcontent {
  text-align: center;
  font-size: 34px;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 85%;
}
@media screen and (max-width: 600px) {
  #naslovcontent {
    padding-top: 3% !important;
  }
  #naslovcontent h3 {
    line-height: 50px;
  }
  #naslovcontent p {
    width: 100% !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
}
#naslovcontent p {
  font-family: "Heebo", sans-serif;
  color: #959cb1;
  text-align: center;
  width: 60%;
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 15%;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: -0.1px;
}
#svicitati {
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  display: flex;
  height: auto;
  padding-bottom: 7%;
}
@media screen and (max-width: 600px) {
  #svicitati {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-bottom: 15%;
  }
}
@media screen and (max-width: 1300px) {
  #svesekc {
    padding-left: 10% !important;
    padding-right: 5% !important;
    max-width: 90%;
  }
  #njh {
    width: 60% !important;
  }
  #svicitati {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 15%;
  }
}
#in,
#ng {
  flex-basis: 344px;
  max-width: 344px;
  background: #292b32;
  position: relative;
}
#ng {
  flex-basis: 330px;
  max-width: 330px;
  box-sizing: content-box;
  margin: 2%;
  color: #959cb1;
  font-size: 1rem;
}
#pcitat {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  padding: 32px 24px;
}
#pacitat {
  font-size: 20px;
  font-weight: 200;
  border-bottom: 2px solid #33343d;
}
#pzaglcit {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 5%;
}
#pisca {
  color: white;
}

#slash {
  color: #959cb1;
}
#tekst {
  color: #376df9;
  text-decoration: none;
}
#sendmail {
  padding-top: 7%;
}
#sendcontainer {
  padding-top: 5px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #376df9;
  background: linear-gradient(100deg, #376df9 0, #ff5fa0 75%, #ffc55a 100%);
  margin-bottom: 10%;
}
#sendnaslov {
  margin-left: 2%;
  margin-top: 2%;
  display: grid;
  align-items: baseline;
  grid-template-columns: 60% 40%;
  font-size: 24px !important;
  margin-right: 0;
  line-height: 100px;
  color: #f9faff;
}

@media screen and (max-width: 1060px) {
  #sendcontent {
    display: grid;
  }
  #sendcontainer {
    width: 99% !important;
  }
  #sendnaslov {
    font-size: 20px !important;
    display: table !important;
    line-height: 60px !important;
  }

  #posalji {
    height: 48px !important;
    margin-top: 0% !important;
    width: 70% !important;
    margin-left: -8% !important;
  }
  #placeholder {
    width: 100% !important;
  }
  #posalji input {
    margin-top: 0% !important;
    height: 100% !important;
    margin-top: -30%;
  }
}
@media screen and (max-width: 700px) {
  #sendnaslov {
    font-size: 17px !important;
    display: table !important;
    line-height: 60px !important;
  }
}
#fl {
  margin-left: 15px;
  margin-right: 15px;
}
#fl svg {
  margin-left: -12%;
}
#posalji {
  padding-left: 5%;
  width: 75%;
  height: 48px;
  margin-top: 8%;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  outline-color: #ffffff;
}
@media screen and (max-width: 1180) {
  #sendcontainer {
    display: table-column-group;
  }
}
@media screen and (max-width: 650px) {
  #posalji {
    width: 90% !important;
    height: 48px !important;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    outline-color: #ffffff;
  }
}

#fsz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-left: 5%;
}

#prred {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}
#infl {
  flex-direction: column !important;
  justify-content: space-between;
  font-size: 14px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 4%;
  position: relative;
}

#infl li {
  margin-left: 2%;
  float: right;
  display: inline;
  justify-content: space-between;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-right: 5%;
  }
  #prred {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 15% !important;
  }
  #st {
    padding: 0px !important;
  }
  #aus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
  }
  #infl ul {
    width: 118%;
  }
  #footer-copyright {
    width: 125%;
    margin-left: -5%;
  }
  #links li {
    margin-left: 2% !important;
  }
}
#prred,
#socmed {
  float: none !important;
  justify-content: space-between;
  font-size: 14px;
}

#prred {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
#st {
  display: flex;
}
#st svg {
  fill: #376df9;
  margin: 10px;
}
#fl {
  margin-left: 15px;
  margin-right: 15px;
}
#fl svg {
  margin-left: -12%;
}
#aus {
  display: -webkit-box;
  display: block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
#infl ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#infl li {
  margin-left: 2%;
  float: right;
  display: inline;
  justify-content: space-between;
  font-size: 14px;
}

#footer-copyright {
  color: #6a6f82;
  font-size: 14px;
}
