* {
  font-family: "Quicksand", sans-serif;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Quicksand", sans-serif;
}
.illustrator-img {
  background-size: cover !important;
  content: "";
  position: relative !important;
  width: 100%;
  max-width: 98%;
  height: 612px;
  background-image: url(../images/illustration-section-01.svg);
  background-repeat: no-repeat;
  background-size: auto;
  left: 51%;
  top: 0;
  background-position: center top;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  margin: 0 !important;
}
body {
  background-color: #16171b;
  width: 100%;
  color: #f9faff;
}
main {
  width: 100%;
}
#container {
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  width: 100%;
  font-family: "Heebo", sans-serif;
}
#svesekc {
  padding-left: 15%;
  padding-right: 5%;
  max-width: 90%;
}
#ps {
  position: relative;
  padding-bottom: 5%;
  width: 100%;
  border-bottom: 2px solid #26272e;
}
@media (max-width: 600px) {
  #nj h1 {
    width: 99% !important;
    align-self: center;
    text-align: center;
  }
  #njh {
    width: 100% !important;
  }
  #njh p {
    color: #959cb1;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100% !important;
  }
  #njb {
    width: auto;
  }
  #ps button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

#nj {
  margin-bottom: 5%;
}
#njh {
  width: 40%;
  color: #959cb1;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: -0.1px;
}

#nj h1 {
  width: 40%;
  font-size: 45px;
}
#gtsbtn {
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 31px;
  margin-top: 5%;
  height: 48px;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #f9faff;
  background-color: #376df9;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
}
@media (max-width: 600px) {
  #nj h1 {
    width: 99% !important;
    align-self: center;
    text-align: center;
  }
  #njh {
    width: 100% !important;
  }
  #njh p {
    color: #959cb1;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 90% !important;
    margin-left: 5%;
  }
  #njb {
    width: auto;
  }
  #ps button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 1000px) {
  #njh {
    width: 100% !important;
  }
  #njh p {
    width: 90% !important;
  }
  #svicitati {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 15%;
  }
}

#njb {
  width: auto;
}

#ds {
  border-bottom: 2px solid #26272e;
}
#ikone:before,
#ikone:after {
  display: table;
  content: "";
}

#ikone:after {
  clear: both;
}

#ikone ul {
  justify-content: center;
  align-self: center;
}
#ikonelista {
  list-style-type: none;
}

#ikonelista li {
  display: inline-flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 4%;
  width: 10%;
  align-self: auto;
  align-items: center;
  align-content: auto;
}

#ikonelista li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  #ikonelista li {
    width: auto;
    padding: 1% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin: 5%;
  }
}

@media screen and (max-width: 600px) {
  #ikone {
    height: auto;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
  }
}

#ts {
  padding-bottom: 7%;
  border-bottom: 2px solid #26272e;
}

#videocont {
  margin-top: 5%;
  height: auto;
  align-items: center;
}

#nd {
  padding-top: 20px;
  text-align: center;
  font-size: 27px;
}

#opisvidea {
  font-family: "Heebo", sans-serif;
  color: #959cb1;
  text-align: center;
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  margin-bottom: 4%;
  font-weight: 200;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.1px;
}

video {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  #nd h2 {
    text-align: center;
    height: auto;
  }
  #zavideo video {
    margin: auto;
    width: 480px !important;
    height: 270px !important;
  }
  #opisvidea {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 0% !important;
  }
}
@media screen and (max-width: 1200px) {
  #nj h1 {
    width: 100% !important;
  }
}
@media screen and (max-width: 800px) {
  #njh {
    width: 70% !important;
  }
  #zavideo video {
    margin: auto;
    width: 426px !important;
    height: 240px !important;
  }
}

#nt {
  margin-top: 7%;
  text-align: center;
  font-size: 27px;
}

#nt p {
  width: 65%;
  margin-left: 17%;
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
  color: #959cb1;
  font-weight: 200;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.1px;
}

@media screen and (max-width: 600px) {
  #nt p {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 3%;
    margin-bottom: 5%;
  }
}
#cssve {
  width: 100%;
}
#poljacon {
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;

  margin-top: -12px;
}
@media screen and (max-width: 1000px) {
  #poljacon {
    display: grid;
    grid-template-columns: none !important;
    width: 100% !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
  }
}

#ppolje,
#dpolje,
#tpolje,
#cpolje,
#pppolje,
#spolje {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  text-align: center;
}

#ppolje p,
#dpolje p,
#tpolje p,
#cpolje p,
#pppolje p,
#spolje p {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
#dpolje {
  width: 80%;
}
#slika {
  margin-top: 10%;
  display: inline-flex;
  border-radius: 50%;
  background: radial-gradient(
    circle at bottom,
    #376df9 0%,
    #ff79af 50%,
    #ff8d74 100%
  );
}

#kont h4 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.1px;
  font-weight: 600;
  clear: both;
  color: #f9faff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#parap {
  width: auto;
}
#parap p {
  color: #959cb1;
  margin-top: 2%;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-weight: 200;
}
#pps {
  margin-top: 5%;
  border-bottom: 2px solid #26272e;
}
#naslovcontent {
  text-align: center;
  font-size: 34px;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 85%;
}
@media screen and (max-width: 600px) {
  #naslovcontent {
    padding-top: 3% !important;
  }
  #naslovcontent p {
    width: 100% !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
}
#naslovcontent p {
  font-family: "Heebo", sans-serif;
  color: #959cb1;
  text-align: center;
  width: 70%;
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: -0.1px;
}
#svicitati {
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  display: flex;
  height: auto;
  padding-bottom: 7%;
}
@media screen and (max-width: 600px) {
  #svicitati {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-bottom: 15%;
  }
}
@media screen and (max-width: 1000px) {
  #njh {
    width: 100% !important;
  }
  #svicitati {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 15%;
  }
}
#in,
#ng {
  flex-basis: 344px;
  max-width: 344px;
  background: #292b32;
  position: relative;
}
#ng {
  flex-basis: 330px;
  max-width: 330px;
  box-sizing: content-box;
  margin: 2%;
  color: #959cb1;
  font-size: 1rem;
}
#pcitat {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  padding: 32px 24px;
}
#pacitat {
  font-size: 20px;
  font-weight: 200;
  border-bottom: 2px solid #33343d;
}
#pzaglcit {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 5%;
}
#pisca {
  color: white;
}

#slash {
  color: #959cb1;
}
#tekst {
  color: #376df9;
  text-decoration: none;
}
#sendmail {
  padding-top: 7%;
}
#sendcontainer {
  background-color: #376df9;
  background: linear-gradient(100deg, #376df9 0, #ff5fa0 75%, #ffc55a 100%);
}
#sendcontainer {
  padding-left: 2%;
  padding-top: 5px;
  padding-bottom: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #376df9;
  background: linear-gradient(100deg, #376df9 0, #ff5fa0 75%, #ffc55a 100%);
  margin-bottom: 10%;
}
#sendnaslov {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 60% 40%;
  font-size: 24px !important;
  margin-right: 0;
  line-height: 100px;
  color: #f9faff;
}

@media screen and (max-width: 1180px) {
  #sendcontent {
    display: grid;
  }
  #sendcontainer {
    width: 99% !important;
  }
  #sendnaslov {
    font-size: 20px !important;
    display: table !important;
    line-height: 60px !important;
  }

  #posalji {
    height: 48px !important;
    margin-top: 0% !important;
    width: 95% !important;
    margin-left: -8% !important;
  }
  #placeholder {
    width: 100% !important;
  }
  #posalji input {
    margin-top: 0% !important;
    height: 100% !important;
    margin-top: -30%;
  }
}
@media screen and (max-width: 700px) {
  #sendnaslov {
    font-size: 17px !important;
    display: table !important;
    line-height: 60px !important;
  }
}
#fl {
  margin-left: 15px;
  margin-right: 15px;
}
#fl svg {
  margin-left: -12%;
}
#posalji {
  padding-left: 5%;
  width: 75%;
  height: 48px;
  margin-top: 8%;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  outline-color: #ffffff;
}
@media screen and (max-width: 1180) {
  #sendcontainer {
    display: table-column-group;
  }
}
@media screen and (max-width: 800px) {
  #posalji {
    width: 90% !important;
    height: 48px !important;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    outline-color: #ffffff;
  }
}

#fsz {
  display: flex;
  flex-direction: column;
  position: relative;
}

#prred {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}
#st {
  display: flex;
}
#st svg {
  fill: #376df9;
  margin: 10px;
}
#aus {
  margin-top: 3%;
  display: -webkit-box;
  display: block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
#infl {
  flex-direction: column !important;
  justify-content: space-between;
  font-size: 14px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 4%;
  position: relative;
}
#infl ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#infl li {
  margin-left: 2%;
  float: right;
  display: inline;
  justify-content: space-between;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  footer {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
  #fsz {
    display: flex;
    flex-direction: column;
  }
  #infl {
    float: none !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    flex-direction: column !important;
    justify-content: space-between;
    font-size: 14px;
    width: 60%;
    margin-top: -3%;
  }
  #footer-copyright {
    width: 100%;
    top: 100%;
    margin-left: 36%;
    margin-top: 10%;
    margin-top: -3%;
    position: absolute;
  }
  #links {
    position: fixed;
    color: #6a6f82;
  }
  #prred,
  #socmed {
    float: none !important;
    flex-direction: column !important;
    justify-content: space-between;
    font-size: 14px;
  }
}
#prred,
#socmed {
  float: none !important;
  justify-content: space-between;
  font-size: 14px;
}

#infl ul {
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 0;
}

#prred {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
#st {
  display: flex;
}
#st svg {
  fill: #376df9;
  margin: 10px;
}
#fl {
  margin-left: 15px;
  margin-right: 15px;
}
#fl svg {
  margin-left: -12%;
}
#aus {
  margin-top: 3%;
  display: -webkit-box;
  display: block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
#infl ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#infl li {
  margin-left: 2%;
  float: right;
  display: inline;
  justify-content: space-between;
  font-size: 14px;
}

#footer-copyright {
  color: #6a6f82;
  font-size: 14px;
}
